.banner {

    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .next {
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
  .prev {
    margin-left: 20px;
  }
  .prev,
  .next {
    color: black;
    position: absolute;
    cursor: pointer;
    user-select: none;
    font-size: 50px;
    z-index: 10;
    top: 200px;
  }