.langSelect {
  list-style-type: none;
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: 0;
  padding-left: 0;
  min-width: 100px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.LangSwitch:hover .langSelect {
  display: flex;
  flex-direction: column;
}
.langInfo {
  padding-right: 0;
  margin-right: 0;
  text-align: end;
  margin-top: 0;
  padding-top: 0;
}
.langItem {
  border-bottom: 1px solid lightgray;
}
.eng {
  background-image: url("https://cdn.countryflags.com/thumbs/united-kingdom/flag-800.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 20px;
  background-size: 100% 100%;
  border: 1px solid black;
  border-radius: 1px;
}
.ger {
  background-image: url("https://cdn.countryflags.com/thumbs/germany/flag-400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 30px;
  height: 20px;

  border: 1px solid black;
  border-radius: 1px;
}
.selectedLang {
  padding-left: 10px;
}
