.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header_searchIn {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  z-index: -100;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 999;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  top: 30px;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.optionLineOne {
  font-size: 10px;
}
.optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header_optionBasket > .basketInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 5px;
}
.header_basketCount {
  margin-left: 2px;
  margin-right: 10px;
  color: orange;
  font-weight: 500;
}
#basketTag {
  font-size: 12px;
  font-weight: 700;
}
.lowerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signInDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid lightgray;
}
.Lists {
  width: 50%;
  float: left;
  border-right: 1px solid lightgray;
}
.YourAccount {
  width: 50%;
  float: right;
}
.Lists h5 {
  right: 0;
  bottom: 10px;
  margin: 20px;
  padding: 0;
  top: 20px;
  color: #504d4d;
}
.YourAccount h5 {
  right: 0;
  bottom: 10px;
  margin: 20px;
  padding: 0;
  top: 20px;
  color: #504d4d;
}
.Lists ul {
  margin: 20px;
  padding: 0;
  list-style-type: none;
}
.YourAccount ul {
  margin: 20px;
  padding: 0;
  list-style-type: none;
}
.list li {
  font-size: 10px;
  font-family: sans-serif;
  padding: 4px;
  color: #504d4d;
  font-weight: 520;
}
.signInDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-In {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 40%;
  height: 30px;
  border: 1px solid;
  margin-top: 15px;
  border-color: #a88734 #9c7e31 #846a29;
}
.newCustomer {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}
.newCustomer > a {
  padding-top: 0%;
  border-top: 0ch;
  color: blue;
  background-color: transparent;
}
